@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding-top: 2px;
  padding-bottom: 20px;
}

header {
  padding: 20px 0;
  background-color: pink;
}

smallh1 {
	font-size: 45%;
	color: #777;
}

.navbar-custom {
    color: pink;
    background-color: pink;
}

.left {
	align: left;
	-left:  0px;
}

hcarousel {
  font-size: 300%;
}

.vertical-center {
	margin-top: 10px;
}

fontDressme {
	font-family: 'Amatic SC', 'Roboto', sans-serif;
	font-size: 170%;
}

spanunterschrift {
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
}

.pink-background {
	background-color: pink;
}

.button-font {
  color: #FFF;
  font-family: 'Amatic SC', 'Roboto', sans-serif;
  font-size: 150%;
}

.dressme-header {
	font-family: 'Amatic SC', 'Roboto', sans-serif;
	font-size: xx-large;
	color: black;
}

.signup-input {
	margin: 2%;
	margin-left: 0%;
}

.a-menu {
  color: rgb(119, 119, 119);
  margin-left: 20px;
}

.a-menu:hover {
  color: #000;
  margin-left: 20px;
}

.gallery-margin {
  margin-bottom: 10px;
}

.pagination>li>a, .pagination>li>span {
  color: #FEC0CB;
}

.navbar-default {
  background-image: none;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: #FEC0CB;
    border-width: 1px;
    border-radius: 4px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: #FEC0CB;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
    background-color: #FEC0CB;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #888;
}


/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Helping out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declaring heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}


/*Tags Input */
.label-info {
    background-color: pink;
}